<% if @events.empty? %>
<h2>You have not created any events.</h2>
<% else %>
<% @events.each do |event| %>
<div class="ui card">
  <!--<div class="image">-->
  <!--  <img src="/images/avatar2/large/kristy.png">-->
  <!--</div>-->
  <div class="content">
    <a class="header">Kristy</a>
    <div class="meta">
      <span class="date">Joined in 2013</span>
    </div>
    <div class="description">
      <%= event.description %>
    </div>
  </div>
  <div class="extra content">
    <a>
      <i class="user icon"></i>
      22 Friends
    </a>
  </div>
</div>
<% end %>
<% end %>

