@import "semantic-ui";

.ui.inverted.segment {
    border-radius: 0;
}

.ui.four.column.centered.grid {
    height : 100vh;
}

#login {
    height : 50vh;
    margin: auto 0;
}

.bottom-space {
    margin-bottom: 1rem;
}

